*{
	box-sizing: border-box;
	margin: 0;
	outline: none;
}
body{
	background-color: rgb(0, 183, 255);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
	text-align: center;
	padding: 3px 0;
	background: rgb(228, 247, 255);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.144);
	font-size: 25px;
}
section{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container{
	width: 700px;
	background: rgb(228, 247, 255);
	padding:20px 40px;
	min-height: 300px;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.267);
}
.container .buttons{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
}
.container button{
	border:none;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.13);
}
.container .buttons button{
	width: 300px;
	min-height:50px;
	padding:10px 15px;
	margin-bottom: 10px;
	background:#fff;
	text-align: left;
	font-size: 17px;
}
.newBtn{
	padding: 5px 30px;
	background-color: rgb(0, 183, 255);
	margin-top: 30px;
	font-size: 25px;
	color: #fff;
}

/*Responsive design*/
@media (max-width:679px){
	section{
		align-items: flex-start;
	}
	.container{
		padding: 20px 10px;
		border-radius: 0;
		min-height: 100vh;
	}
	.container .buttons button{
		width: 100%;
	}
}